[user]
	name = Yoshiyuki Koyanagi
	email = moutend@gmail.com

[includeIf "gitdir:~/github.com/indigonote/"]
	path = ~/.gitconfigwork

[includeIf "gitdir:~/github.com/abby-develop/"]
	path = ~/.gitconfigwork

[includeIf "gitdir:~/github.com/koyanagi-abby/"]
	path = ~/.gitconfigwork

[alias]
	a = add
	b = branch
	c = commit
	d = diff
	l = log --name-status
	co = checkout
	sl = shortlog
	s = switch
	st = status -sb
	lfspull = !git -c filter.lfs.smudge= -c filter.lfs.required=false pull && git lfs pull

[core]
	ignorecase = false
	editor = v
	pager = v -
	quotepath = false

[color]
	ui = false

[init]
	templatedir = ~/.gittemplate

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
